# dependencies
node_modules/

# Next.js
.next/
out/

# build
dist/
build/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# database
*.db
*.db-shm
*.db-wal

# TypeScript
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/
